shortcode-block[name="prism"] .sc-prism {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background: #EEEEEE;
  color: #03486D;
  padding: 1em;
  border: 1px solid $c4c4c4;
  white-space: pre-wrap;
  tab-size: 4;
  font-size: 0.9rem;
}
